@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.App-logo {
  font-family: 'Kaushan Script', cursive;
  /* font-size: calc(10px + 3vmin); */
  color: #900;
}

.App-header {
  padding: 1vmin 2vmin;
}
